<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Botonera</title>
    <style>
        .botonera { width: 100%; margin: 0; background-color: white; }
        .periodo, .botonI, .botonD, .spacer, .fin { display: inline-block; height:55px; margin: 0; }
        .periodo { width:18%; }
        .botonI { width:20%; }
        .botonD { width:15%; }
        .fin { width:5%; }
        .spacer{ width:1%; }
        .presione, .presado { font-size: 14pt; width: 100%; height: inherit; }
    </style>
</head>
<body>
    <div class="botonera">
        <form action="?periodo={{periodo}}&conta={{preConta}}" method="post" class="botonI">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value="{{periodo}} anterior" class="presione">
        </form>
        <div class='spacer'></div>
        <form action="?periodo=semana&conta={{conta}}" method="post" class="periodo">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value="semana" class="{{refClass0}}">
        </form>
        <form action="?periodo=turno&conta={{conta}}" method="post" class="periodo">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value="turno" class="{{refClass1}}">
        </form>
        <form action="?periodo=hora&conta={{conta}}" method="post" class="periodo">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value="2 horas" class="{{refClass2}}">
        </form>
        <div class='spacer'></div>
        <form action="?periodo={{periodo}}&conta={{postConta}}" method="post" class="botonD">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value="{{periodo}} siguiente" class="presione">
        </form>
        <form action="?periodo={{periodo}}" method="post" class="fin">
            <input type="hidden" name="csrf_token" value="{{csrfToken}}">
            <input type="submit" value='>|' class="presione">
        </form>
    </div>
</body>
</html>
