<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DataMaq</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html">Gráfico</a></li>
                <li class="nav-item"><a class="nav-link" href="PanelControlModbus.php">Estado del Equipo</a></li>
                <li class="nav-item"><a class="nav-link" href="/DataMaq/formato.php">Formato</a></li>
                <li class="nav-item"><a class="nav-link" href="/phpMyAdmin/" target="_blank" rel="noopener">PHP MyAdmin</a></li>
            </ul>
        </div>
    </div>
</nav>
